body {
}

.sor{
    background-color: seagreen;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.elem{
    background-color: lawngreen;
    text-align: center;
    width: 30px;


}

#pascal{

    display: flex;
    flex-direction: column;
}